/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
 16 / 20 / 28 / 40

- Font weights
Default: 400
Semi-bold: 600
Bold: 700

- Line heights
Body: 1.5
Heading: 1

- Letter spacing


--- 02 COLORS

- Primary:

Tints (lightest to darkest):


Shades (lightest to darkest:

- Accents:
1)
2)

- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS


--- 06 BORDER-RADIUS

Default:
Medium:

--- 07 WHITESPACE

- Spacing system (px)
 8 / 12 / 16 / 24 / 32 / 40 / 48 / 128
*/

:root {
  --ff-body: 'Outfit', sans-serif;
  --ff-headings: 'Young Serif', 'serif';
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --lh-body: 1.5;
  --lh-headings: 1;

  --color-rose-50: #fff7fb;
  --color-rose-800: #7a284e;

  --color-stone-100: #f3e5d7;
  --color-stone-150: #e3ddd7;
  --color-stone-600: #5f564d;
  --color-stone-900: #312e2c;

  --color-brown-800: #854632;
  --color-white: #fff;

  --br-lg: 2.4rem;
  --br-md: 1.2rem;

  --spacer: 4rem;
  --spacer-section: 3.2rem;

  --section-border-bottom: 1px solid var(--color-stone-150);
}

body {
  background-color: var(--color-stone-100);
  font-family: var(--ff-body);
  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: var(--lh-body);
}

.recipe {
  margin: 12.8rem auto;
  padding: var(--spacer);
  width: 73.6rem;
  background-color: var(--color-white);
  border-radius: var(--br-lg);
}

/* GENERAL */

h2 {
  color: var(--color-brown-800);
  font-size: 2.8rem;
  line-height: 1;
  font-family: var(--ff-headings);
  margin-bottom: 2.4rem;
}

.list {
  list-style: none;
}

.item {
  padding-left: 0.8rem;
  display: flex;
  align-items: center;
}

.item:not(:last-child) {
  margin-bottom: 0.8rem;
}

.item-bullet-box,
.item-number-box {
  width: 1.6rem;
  height: 2.4rem;
  margin-right: 1.6rem;
  display: flex;
}

.item-bullet-box {
  align-items: center;
}

.item-number-box {
  align-items: start;
}

.item-bullet {
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--color-rose-800);
  border-radius: 50%;
}

/* HEADER */

.header {
  margin-bottom: var(--spacer-section);
}

.recipe-img {
  border-radius: var(--br-md);
  margin-bottom: var(--spacer);
}

.recipe-title {
  font-family: var(--ff-headings);
  font-size: 4rem;
  line-height: var(--lh-headings);
  font-weight: var(--fw-regular);
  margin-bottom: 2.4rem;
}

.recipe-description {
}

/* SECTION PREP */

.section-prep {
  padding: 2.4rem;
  background-color: var(--color-rose-50);
  border-radius: var(--br-md);
  margin-bottom: var(--spacer-section);
}

.section-prep h3 {
  font-size: 2rem;
  font-weight: var(--fw-semibold);
  margin-bottom: 1.6rem;
  line-height: 1;
  color: var(--color-rose-800);
}

/* SECTION INGREDIENTS */

.section-ingredients {
  padding-bottom: 2.4rem;
  border-bottom: var(--section-border-bottom);
  margin-bottom: 2.4rem;
}

/* SECTION INSTRUCTIONS */

.section-instructions {
  padding-bottom: 2.4rem;
  border-bottom: var(--section-border-bottom);
  margin-bottom: 2.4rem;
}

.recipe-instructions {
  list-style: none;
}

.recipe-instruction {
  align-items: start;
}

.item-number {
  color: var(--color-brown-800);
  font-weight: var(--fw-bold);
}

/* SECTION NUTRITION */

.section-nutrition {
}

.nutrition-list-description {
  margin-bottom: 2.4rem;
}

.nutrition-list {
  list-style: none;
}

.nutrition-item {
  padding: 0 3.2rem;
  display: flex;
}

.nutrition-item:not(:last-child) {
  padding-bottom: 1.2rem;
  border-bottom: 1px solid var(--color-stone-150);
  margin-bottom: 1.2rem;
}

.nutrition-element {
  flex: 1;
}

.nutrition-value {
  flex: 1;
  font-weight: var(--fw-bold);
  color: var(--color-brown-800);
}
